@charset 'utf-8';

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-image: url('../img/sky.jpeg');
    background-size: cover; /* 배경 이미지가 화면을 채우도록 설정 */
    background-position: center; /* 배경 이미지가 중앙에 위치하도록 설정 */     
}
/* 블릿제거 */
ul {
    list-style: none;
}
/* 밑줄제거 */
a {
    text-decoration: none;
}
.navbar {
    width: 100%;
    /* 헤더의 밑에 줄을 긋는다 */
    border-bottom: 1px solid #ddd;
}
/* .navbar .inner .container{
    width: 100%;
    max-width: 1180px;
    margin: 0px auto;
    padding: 0px 20px;
} */
.navbar .inner {
    width: 1180px;
    height: 120px;
    margin: 0px auto;
    position: relative;
}  
.navbar .inner .logo {
    left: 50px;
    top: 1px;
    font-size: 60px;
    /* 앱솔루트를 통해서 밑으로 이동 */
    position: absolute;
}
.navbar .inner .logo a {
    /* 폰트 굵기, 크기/줄간격,글꼴 */
    font-size: 24px/1 "arial";
    color: #444;
    position: relative;
    top: 30px;

}
.navbar .inner .menubar {
    /* 오른쪽 끝으로 감 */
    top: 100px;
    right: 30px;
    left: 10px;
    /* position: absolute; */
    position: relative;
    display: flex;
    justify-content: flex-end;
}
.navbar .inner .menubar li {
    float: left;
    margin-left: 20px;
}
.navbar .inner .menubar li a {
    font: 17px/1 "arial";
    color: #999;
    padding: 0px 10px;
    
}
.navbar .inner .menubar li a:hover {
    color: #333;
}
/* .navbar .inner .menubar li a.active {
    color: #333;
    font-weight: bold;
} */    
.container {
    width: 1180px;
    height: 100px;
    margin: 0px auto;
    padding: 20px 0px;
}
.container .content {
    width: 100%;
    height: 500px;
    background-color: whitesmoke; /* 이미지 들어 있는 배경  */
    border: 1px solid #ddd;
    box-shadow: black 0px 0px 10px;
    padding: 20px;
    
}   
.container .content .image{

    top: 30%;
    left: 5%; ;
}
.container .content .image img {
    width: 200px;    /* 원하는 너비로 조정 */
    height: auto;    /*세로는 비율에 따라 자동*/
    border-radius: 10px; /* 선택: 이미지 모서리 둥글게 */
}